{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll"
             data-image-src="{% static 'images/single_background.jpg' %}"></div>
        <div class="home_content">
            <div class="home_title">the offers</div>
        </div>
    </div>

    <!-- Offers -->

    <div class="listing">

        <!-- Search -->

        <div class="search">
            <div class="search_inner">

                <!-- Search Contents -->

                <div class="container fill_height no-padding">
                    <div class="row fill_height no-margin">
                        <div class="col fill_height no-padding">

                            <!-- Search Tabs -->

                            <div class="search_tabs_container">
                                <div class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    {% for category in categories %}
                                        <div class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                            <img src="{{ category.icon.url }}" alt=""><span>{{ category.name }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel active">
                                <form action="#" id="search_form_1"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_1"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="extras">
                                        <ul class="search_extras clearfix">
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_1"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_1">Pet Friendly</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_2"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_2">Car Parking</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_3"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_3">Wireless Internet</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_4"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_4">Reservations</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_5"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_5">Private Parking</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_6"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_6">Smoking Area</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_7"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_7">Wheelchair Accessible</label>
                                                </div>
                                            </li>
                                            <li class="search_extras_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="search_extras_8"
                                                           class="search_extras_cb">
                                                    <label for="search_extras_8">Pool</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="more_options">
                                        <div class="more_options_trigger">
                                            <a href="#">load more options</a>
                                        </div>
                                        <ul class="more_options_list clearfix">
                                            <li class="more_options_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="more_options_1" class="search_extras_cb">
                                                    <label for="more_options_1">Pet Friendly</label>
                                                </div>
                                            </li>
                                            <li class="more_options_item">
                                                <div class="clearfix">
                                                    <input type="checkbox" id="more_options_2" class="search_extras_cb">
                                                    <label for="more_options_2">Car Parking</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel">
                                <form action="#" id="search_form_2"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_2" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_2"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel">
                                <form action="#" id="search_form_3"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_3" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_3"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel">
                                <form action="#" id="search_form_4"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_4" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_4"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel">
                                <form action="#" id="search_form_5"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_5" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_5"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>

                            <!-- Search Panel -->

                            <div class="search_panel">
                                <form action="#" id="search_form_6"
                                      class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                    <div class="search_item">
                                        <div>destination</div>
                                        <input type="text" class="destination search_input" required="required">
                                    </div>
                                    <div class="search_item">
                                        <div>check in</div>
                                        <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>check out</div>
                                        <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                    </div>
                                    <div class="search_item">
                                        <div>adults</div>
                                        <select name="adults" id="adults_6" class="dropdown_item_select search_input">
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <div class="search_item">
                                        <div>children</div>
                                        <select name="children" id="children_6"
                                                class="dropdown_item_select search_input">
                                            <option>0</option>
                                            <option>02</option>
                                            <option>03</option>
                                        </select>
                                    </div>
                                    <button class="button search_button">search<span></span><span></span><span></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Listing -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_listing">

                        <!-- Hotel Info -->

                        <div class="hotel_info">
                            <!-- Title -->
                            <div class="hotel_title_container d-flex flex-lg-row flex-column">
                                <div class="hotel_title_content">
                                    <h1 class="hotel_title">{{ post.title }}</h1>
                                    <div class="rating_r rating_r_4 hotel_rating">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                    </div>
                                    <div class="hotel_location">{{ post.city }},{{ post.state }}</div>
                                </div>
                            </div>

                            <!-- Listing Image -->

                            <div class="hotel_image">
                                <img src="{{ post.image.url }}" alt="">
                                <div class="hotel_review_container d-flex flex-column align-items-center justify-content-center">
                                    <div class="hotel_review">
                                        <div class="hotel_review_content">
                                            <div class="hotel_review_title">very good</div>
                                            <div class="hotel_review_subtitle">100 reviews</div>
                                        </div>
                                        <div class="hotel_review_rating text-center">8.1</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Hotel Gallery -->


                            {#                            <div class="hotel_gallery">#}
                            {#                                <div class="hotel_slider_container">#}
                            {##}
                            {#                                    <div class="owl-carousel owl-theme hotel_slider">#}
                            {#                                        {% for b_img in bottom_images %}#}
                            {#                                            <!-- Hotel Gallery Slider Item -->#}
                            {#                                            <div class="owl-item">#}
                            {#                                                <a class="colorbox cboxElement" href="{{ b_img.url }}">#}
                            {#                                                    <img src="{{ b_img.url }}">#}
                            {#                                                </a>#}
                            {#                                            </div>#}
                            {#                                        {% endfor %}#}
                            {#                                    </div>#}
                            {##}
                            {#                                    <!-- Hotel Slider Nav - Prev -->#}
                            {#                                    <div class="hotel_slider_nav hotel_slider_prev">#}
                            {#                                        <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg"#}
                            {#                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"#}
                            {#                                             width="28px" height="33px" viewBox="0 0 28 33"#}
                            {#                                             enable-background="new 0 0 28 33" xml:space="preserve">#}
                            {#											<defs>#}
                            {#												<linearGradient id='hotel_grad_prev'>#}
                            {#													<stop offset='0%' stop-color='#fa9e1b'/>#}
                            {#                                                    <stop offset='100%' stop-color='#8d4fff'/>#}
                            {#												</linearGradient>#}
                            {#											</defs>#}
                            {#                                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z#}
                            {#											M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571#}
                            {#											C22.545,2,26,5.541,26,9.909V23.091z"/>#}
                            {#                                            <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219#}
                            {#											11.042,18.219 "/>#}
                            {#										</svg>#}
                            {#                                    </div>#}
                            {##}
                            {#                                    <!-- Hotel Slider Nav - Next -->#}
                            {#                                    <div class="hotel_slider_nav hotel_slider_next">#}
                            {#                                        <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg"#}
                            {#                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"#}
                            {#                                             width="28px" height="33px" viewBox="0 0 28 33"#}
                            {#                                             enable-background="new 0 0 28 33" xml:space="preserve">#}
                            {#											<defs>#}
                            {#												<linearGradient id='hotel_grad_next'>#}
                            {#													<stop offset='0%' stop-color='#fa9e1b'/>#}
                            {#                                                    <stop offset='100%' stop-color='#8d4fff'/>#}
                            {#												</linearGradient>#}
                            {#											</defs>#}
                            {#                                            <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z#}
                            {#										M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571#}
                            {#										C22.545,2,26,5.541,26,9.909V23.091z"/>#}
                            {#                                            <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554#}
                            {#										17.046,15.554 "/>#}
                            {#										</svg>#}
                            {#                                    </div>#}
                            {##}
                            {#                                </div>#}
                            {#                            </div>#}

                            <!-- Hotel Info Text -->

                            <div class="hotel_info_text">
                                <p>{{ post.text|safe }}</p>
                            </div>

                            <!-- Hotel Info Tags -->

                            <div class="hotel_info_tags">
                                <ul class="hotel_icons_list">
                                    <li class="hotel_icons_item"><img src="{% static 'images/post.png' %}" alt=""></li>
                                    <li class="hotel_icons_item"><img src="{% static 'images/compass.png' %}" alt="">
                                    </li>
                                    <li class="hotel_icons_item"><img src="{% static 'images/bicycle.png' %}" alt="">
                                    </li>
                                    <li class="hotel_icons_item"><img src="{% static 'images/sailboat.png' %}" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Rooms -->

                        <div class="rooms">
                            {% for rel_post in rel_posts %}


                                <!-- Room -->
                                <div class="room">

                                    <!-- Room -->
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="room_image"><img src="{{ rel_post.image.url }}"
                                                                         alt=""></div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="room_content">
                                                <div class="room_title">{{ rel_post.title }}</div>
                                                <div class="room_text">By {{ rel_post.author }}</div>
                                                    <div class="room_text">{{ rel_post.date_created|date:"j F Y" }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 text-lg-right">
                                            <div class="room_button">
                                                <div class="button book_button trans_200"><a
                                                        href="{{ rel_post.get_absolute_url }}">book<span></span><span></span><span></span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <!-- Reviews -->

                        <div class="reviews">
                            <div class="reviews_container">

                                <form action="{{ post.get_absolute_url }}" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input type="submit" class="btn btn-primary button book_button trans_200"
                                           value="Submit">
                                </form>

                                <!-- Review -->
                                <div class="reviews_title">Reviews</div>
                                {% for comment in post.comments.all %}

                                    <div class="review">

                                        <div class="row">
                                            <div class="col-lg-1">
                                                <div class="review_image">
                                                    <img src="{{ comment.profile_pic.url }}" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-11">

                                                <div class="review_content">
													<div class="review_title">{{ comment.comment }}</div>
                                                    <div class="review_name">{{ comment.first_name }} {{ comment.last_name }}</div>
                                                    <div class="review_date">{{ comment.date_created|date:"d F Y" }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

